<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/styles.css">
  <title>Weather - home</title>
</head>

<body>

  <form class="flex" action="/result" method="post">
    <label>WANNA KNOW THE WEATHER ?</label>
    <input type="text" name="city" placeholder="Write a city name">
    <button type="submit">GO</button>
  </form>
</body>

</html>
