body {
  background-color: #c3fdff;
  font-family: Arial, sans-serif;
  color: #bf5f82;
}

.flex {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form input, form button {
  padding: 1.2em;
  margin: 1em;
}

label {
  margin: 1em;
}

form input {
  color: #bf5f82;
  width: 30%;
}

form button {
  width: 15%;
  color: #bf5f82;
}

p {
  font-size: 1.5em;
}

span {
  font-weight: 700;
}
